:root{
    --cor---cor-primaria: #86c089;
    --cor-secundaria: #ffffff;
    --cor-texto: #333;
    --cor-fundo: #f9f9f9;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: var(--cor---cor-primaria);
    color: var(--cor-texto);
    line-height: 1.6;
}
